.meus-projetos{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.meus-projetos h1{
    font-size: 3.5rem;

}

.meus-projetos h3{
    font-size: 1rem;
    margin-top: 0.2vh;
}