.contato{
    font-family: 'Nunito', sans-serif;
    background-color: black;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.contato img{
    width: 3.7vh;
}

.contato ul{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.contato li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 37.2vh;
}

.contato li h3{
    color: white;
     font-size: 0.8rem;
}

@media(max-width: 500px){
    .contato{
        font-size: 0.5rem;
        margin: auto;
    }
}

@media(max-width: 500px){
    .contato img{
        width: 3.5vh;
        color: white;
    }
}