.minhas-habilidades{
    font-family: 'Nunito', sans-serif;
    background-color: black;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.minhas-habilidades h1{
    font-size: 6rem;
}

.habilidades{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.habilidades h4{
    font-size: 1.3rem;
}

.card-html{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-right: 1rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-css{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-right: 1rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-javascript{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-right: 1rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-react{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-right: 1rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-bootstrap{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-right: 1rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-python{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    margin-right: 1rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-flask{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

.card-mysql{
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.733);
}

/* width = 2000px */

@media(max-width: 2000px){
    .minhas-habilidades h1{
        color: #fff;
        font-size: 4rem;
    }
}

@media (max-width: 2000px) and (min-width: 1000px){
    .habilidades{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 2000px){
    .card-html{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 2000px){
    .card-css{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 2000px){
    .card-javascript{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media (max-width: 2000px){
    .card-react{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 2000px){
    .card-bootstrap{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 2000px){
    .card-python{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 2000px){
    .card-flask{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 2000px){
    .card-mysql{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}


/* width = 600px */

@media(max-width: 600px){
    .minhas-habilidades h1{
        color: #fff;
        font-size: 4rem;
    }
}

@media(max-width: 600px){
    .habilidades{
        flex-direction: column;
    }
}

@media(max-width: 600px){
    .card-html{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-css{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-javascript{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-react{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-bootstrap{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-python{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-flask{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 600px){
    .card-mysql{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

/* with = 1000px */

@media(max-width: 1000px){
    .minhas-habilidades h1{
        color: #fff;
        font-size: 4rem;
    }
}

@media(max-width: 1000px){
    .habilidades{
        flex-direction: column;
    }
}

@media(max-width: 1000px){
    .card-html{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-css{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-javascript{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-react{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-bootstrap{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-python{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-flask{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}

@media(max-width: 1000px){
    .card-mysql{
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}